# Excel temporary files
~$*.xlsx
~$*.xls

# Visual Paradigm backup and temporary files
*.bak*
*.vbak
*.vpp~
*.vpp.bak*
*.vpp.vbak

# Draw.io backup and temporary files
.$*.bkp
*.drawio.bkp